<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koleshop.appkoleshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.koleshop.appkoleshop.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.koleshop.appkoleshop.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".network.volley.VolleyUtil"
        android:allowBackup="true"
        android:icon="@mipmap/koleshop_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base">
        <activity
            android:name=".ui.common.activities.InitialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        receiver
            android:name=".receiver.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.koleshop.appkoleshop" />
            </intent-filter>
        </receiver
        -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.koleshop.appkoleshop" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".services.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- SMS Receiver -->
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.common.activities.GetStartedActivity"
            android:label="@string/title_activity_get_started" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.common.activities.TestActivity"
            android:label="@string/title_activity_test" />

        <service
            android:name=".services.SessionIntentService"
            android:exported="false" />

        <activity
            android:name=".ui.seller.activities.HomeActivity"
            android:label="@string/title_activity_home" />

        <service
            android:name=".services.CommonIntentService"
            android:exported="false" />

        <activity
            android:name=".ui.common.activities.VerifyPhoneNumberActivity"
            android:label="@string/title_activity_verify_phone_number"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.common.activities.VerifyOTPActivity"
            android:label="@string/title_activity_verify_otp" />
        <activity
            android:name=".ui.seller.activities.SelectSellerCategoryActivity"
            android:label="@string/title_activity_select_seller_category"
            android:theme="@style/AppTheme.Base" />
        <activity android:name=".ui.seller.activities.InventoryProductActivity" />
        <activity
            android:name=".ui.seller.activities.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.Base" />

        <service
            android:name=".services.ProductIntentService"
            android:exported="false" />
        <service
            android:name=".services.SettingsIntentService"
            android:exported="false" />

        <activity android:name=".ui.buyer.activities.HomeActivity" />
        <activity android:name=".ui.seller.activities.SellerSettingsActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.common.activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".ui.seller.activities.SellerOrdersActivity" />
        <activity
            android:name=".ui.common.activities.OrderDetailsActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Sliding.Light" />
        <activity android:name=".ui.buyer.activities.CartActivity" />

        <service
            android:name=".services.DemoIntentService"
            android:exported="false"></service>
    </application>

</manifest>
